body
{
    background-color: aquamarine;
    text-align: center;
}

h1
{
    font-size: medium;
}

h2
{
    font-size: medium;
}

h3
{
    font-size: medium;
}

h4
{
    font-size: medium;
}

h5
{
    font-size: medium;
}

h6
{
    font-size: medium;
}